@import "../../../app/vars";
.sort {
  position: relative;
  padding: 11px 16px;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 5px;
  border: 1px solid #E4E9EE;
  border-radius: 8px;
  white-space: nowrap;
  transition: 0.3s all;
  .sort_options {
    position: absolute;
    z-index: 99;
    bottom: -67px;
    left: -1px;
    right: 0;
    width: 171px;
    border: 1px solid #E4E9EE;
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    opacity: 1;
    visibility: visible;
    transition: 0.3s all;
    transform: translateY(0);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 5px 0px 10px;
    background: $main-white;
    a {
      width: 170px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  .sort_options_open {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
  }
}

.sort_open {
  border-bottom: 1px solid #fff;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.arrow_down {
  transform: rotate(0deg);
  transition: 0.3s all;
}

.arrow_down_open {
  transform: rotate(180deg);
}

@media(max-width:360px) {
  .sort {
    font-size: 12px;
    .sort_options {
      width: 158.79px;
    }
  }
}