.empty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin: 250px 0;
}

.inner {
  margin: 50px 0;
}

.products_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
@media(max-width:750px) {
  .products_list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width:500px) {
  .products_list {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
  }
}