$main-text: #0B0F0E;
$secondary-text: #818B9C;
$main-white: #FFFFFF;
$footer-background: #F7F7F7;
$recommendation-section: #FCECE1;
$price: #1D9E34;
$search-background: #F6F8FA;
$btn-color: #1E4C2F;
$product-card-background: #F7F7F7;